.cover-container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 40em) {
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 62em) {
    .cover-container {
        width: 42rem;
    }
}